accelerate==0.21.0 
peft==0.4.0
bitsandbytes==0.40.2
transformers==4.31.0 
trl==0.4.7
scipy
evaluate
loguru
pandas
boto3
s3fs
pymongo
pymongo[srv]
mlflow
azure-identity
azure-storage-blob
uvicorn
gunicorn
psutil
python-multipart
protobuf==3.20.*
kubernetes
pathlib
typing-extensions
fastapi
starlette_exporter
typer
python-jose[cryptography]
passlib[bcrypt]
pydantic
sqlmodel
psycopg2